<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="/">
                        <span>
                            <img alt="image" src="~/Content/images/logo-small.png" width="45" height="45"/>
                        </span>

                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Menu</strong>
                            </span>
                        </span>
                    </a>
                </div>


                <div class="logo-element">
                    <img src="~/Content/images/logo-small.png" class="logo-image-sm"/>
                </div>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-suitcase"></i>
                    <span class="nav-label">Administração</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(action: "Index", controller: "Projeto")">
                        <a href="@Url.Action("Index", "Projeto")"><i class="fa fa-lightbulb-o"></i> Projetos</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>