
@using Itanio.Leads.WebUI.Models
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>@Html.Label("Arquivos", new { @class = "control-label" })</h5>
    </div>
    <div class="ibox-content">
        <div class="form-group">
            @Html.Table("Arquivos", new List<ArquivoViewModel>(),
                        new
                        {
                            @class = "table table-striped table-bordered table-hover datatables",
                            data_action = Url.Action("Arquivos", "Arquivo"),
                            data_allow_edit = true,
                            data_allow_delete = true,
                            data_edit_mode = EditMode.Modal,
                            data_edit_action = Url.Action("Editar", "Arquivo"),
                            data_allow_new = true,
                            data_delete_action = Url.Action("Excluir", "Arquivo"),
                        })
        </div>
    </div>
</div>

