@{
    ViewBag.Title = "Projetos";
    ViewBag.SubTitle = "Manutenção de Projetos";
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-9" id="projeto-grid-container">
        @Html.Partial("_projetoGrid")
    </div>
</div>